<ion-header>
  <ion-navbar color="secondary" hideBackButton >
    <ion-title>Confirmar: Medicamento # {{numero}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <p style="font-weight: bold;" color="secondary">Por favor, verifique y/o modifique la información del medicamento #  .</p>
  <form >
      <ion-row>
        

             
                  <ion-label style="font-weight: bold;">Medicamento:</ion-label>
              

            <ion-item>
              <ion-input type="text" placeholder="Medicamento" [(ngModel)]="medicamento" name="medicament" required></ion-input>
            </ion-item>
            
      
        
      </ion-row>
      <ion-row>
          <ion-label style="font-weight: bold;">Cantidad total y Presentación del Medicamento:</ion-label>
          
      </ion-row>
            
          <ion-row>
              
            <ion-col col-6>
                <ion-item>
                    <ion-label stacked>Cantidad:</ion-label>
                    <ion-input type="number" placeholder="Cantidad" [(ngModel)]="cantidad_total" name="cantidad_tota" required></ion-input>
                  </ion-item>
            </ion-col>
            <ion-col col-6>
                <ion-item>
                    <ion-label stacked>Presentación:</ion-label>
                    <ion-select [(ngModel)]="presentacion" name="presentacio">
                           
                      <ion-option *ngFor="let item of presentacionData" [value]="item" multiple="false" >{{item}}</ion-option>
                      
                    </ion-select>
                  </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-label >Frecuencia de consumo:</ion-label>
          </ion-row>
          
              <ion-row>
                  
                <ion-col col-6>
                    <ion-item>
                        <ion-label stacked>Cantidad:</ion-label>
                        <ion-input type="number" placeholder="Cantidad" [(ngModel)]="frecuencia_cant" name="frecuencia_can" required></ion-input>
                      </ion-item>
                </ion-col>
                <ion-col col-6>
                    <ion-item>
                        <ion-label stacked>Unidad de tiempo:</ion-label>
                        <ion-select [(ngModel)]="frecuencia_utiempo" name="frecuencia_utiemp">
                           
                          <ion-option *ngFor="let item of frecuenciaData" [value]="item" multiple="false" >{{item}}</ion-option>
                          
                        </ion-select>
                      </ion-item>
                </ion-col>
              </ion-row>
               

                  <ion-row>
                    <ion-label >Fecha/Hora inicio de consumo:</ion-label>
                </ion-row>
                
                    <ion-row>
                        
                      <ion-col col-6>
                        <ion-item>
                          <ion-label stacked>Fecha:</ion-label>
                          <ion-datetime displayFormat="YYYY-MMMM-DD" [(ngModel)]="fecha_inicio" name="fecha_inici"></ion-datetime>
                        </ion-item>
                      </ion-col>
                      <ion-col col-6>
                        <ion-item>
                          <ion-label stacked>Hora:</ion-label>
                          <ion-datetime displayFormat="HH:mm" [(ngModel)]="hora_inicio" name="hora_inici"></ion-datetime>
                        </ion-item>
                      </ion-col>
                    </ion-row>   
      <ion-row>
        <ion-col *ngIf="!bandera_ultimoMed">
          <button ion-button class="submit-btn" full type="submit" color="secondary" (click)="registrar()" >Confirmar y Continuar</button>
        </ion-col>
        <ion-col *ngIf="!bandera_ultimoMed">
          <button ion-button class="submit-btn" full type="submit" color="danger" (click)="cancelar()">Descartar Medicamento</button>
        </ion-col>
        <ion-col *ngIf="bandera_ultimoMed">
          <button ion-button class="submit-btn" full type="submit" color="primary" (click)="confirmar_y_anadir()">Confirmar y Añadir Medicamento</button>
        </ion-col>
        <ion-col *ngIf="bandera_ultimoMed">
          <button ion-button class="submit-btn" full type="submit" color="secondary" (click)="registrar()">Confirmar y Terminar</button>
        </ion-col>
        <ion-col *ngIf="bandera_ultimoMed">
          <button ion-button class="submit-btn" full type="submit" color="primary" (click)="cancelar()">Descartar y Terminar</button>
        </ion-col>
        <ion-col *ngIf="bandera_ultimoMed">
          <button ion-button class="submit-btn" full type="submit" color="secondary" (click)="descartar_y_anadir()">Descartar y Añadir Medicamento</button>
        </ion-col>
        
      </ion-row>

    </form>
</ion-content>